<table class="table">
    <thead class="table-dark">
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Image URL</th>
            <th>Active</th>
            <th>Units in stock</th>
            <th>Date Created</th>
            <th>Last Updated</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of data">
            <td>{{tempProduct.sku}}</td>
            <td>{{tempProduct.name}}</td>
            <td>{{tempProduct.description}}</td>
            <td>{{tempProduct.unitPrice | currency:'USD'}}</td>
            <td>{{tempProduct.imageUrl}}</td>
            <td>{{tempProduct.active}}</td>
            <td>{{tempProduct.unitsInStock}}</td>
            <td>{{tempProduct.dateCreated}}</td>
            <td>{{tempProduct.lastUpdated}}</td>
        </tr> 
    </tbody>
</table>
