<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProdcut of data" class="col-md-3">
                    <div class ="product-box">
                        <img src="{{ tempProdcut.imageUrl}}" class="img-responsive">
                        <h1> {{tempProdcut.name}}</h1>
                        <div class="price">{{tempProdcut.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>